html {
  scrollbar-color: #6969dd #e0e0e0;
  scrollbar-width: thin;
}

body {
  margin: 0 auto;
  width: 1440px;
  background-color: #181818;
}

h1,
h2,
p,
input,
button {
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
}
header {
  margin-top: 80px;
  width: 100%;
}
main {
  margin: 0 auto;
  padding: 60px 70px;
  width: 930px;
  background-color: #232323;
}

.title-wrapper {
  display: flex;
}

.title {
  margin-left: 328px;
  width: 183px;
}
.date {
  width: 75px;
}

.title,
.date {
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 30px;
  border-radius: 200px;
  border: 1px solid #6532f8;
  text-align: center;

  background-color: #6532f8;
  color: #f3f6f9;
}

h2 {
  margin-left: 328px;
  margin-bottom: 45px;
  color: #f3f6f9;
  font-size: 120px;
  letter-spacing: -4px;
}

.input-area {
  margin-bottom: 40px;
  position: relative;
}

.input {
  padding: 15px 0;
  width: 550px;
  font-size: 30px;
  line-height: 30px;
  letter-spacing: -0.6px;
  color: #f3f6f9;
  border: none;
  outline: none;
  background-color: #232323;
  border-bottom: 1px solid #f3f6f9;
}

.add-btn {
  margin-left: 10px;

  position: absolute;
  top: 5px;
  background-image: url(resourses/arrow.png);
  width: 62px;
  height: 62px;
  background-color: #232323;
  border: none;
  cursor: pointer;
}
.movies-list {
  display: flex;
  flex-direction: column-reverse;
  list-style: none;
  max-height: 500px;
  overflow-y: auto;
}

.movies-list::-webkit-scrollbar {
  background-color: #6532f8;
  width: 5px;
}

.movies-list::-webkit-scrollbar-track {
  background-color: darkgrey;
}

.movies-list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 50px rgba(36, 60, 198, 0.3);
}

.movies-list-item {
  position: relative;
  margin-bottom: 3px;
  padding-left: 60px;
  border-radius: 10px;
  background-color: #3a3939;
  font-family: 'Arimo', sans-serif;
  font-weight: 400;
  color: #f3f6f9;
  font-size: 30px;
  line-height: 71px;
  letter-spacing: -0.4px;
}

.movies-list-item::before {
  cursor: pointer;
  position: absolute;
  top: 27px;
  left: 20px;
  content: '';
  background-image: url(resourses/uncheck.png);
  width: 19px;
  height: 18px;
}

.checked {
  text-decoration: line-through;
  background-color: #3a3939;
  opacity: 0.5;
}

.checked::before {
  cursor: pointer;
  position: absolute;
  top: 27px;
  left: 20px;
  content: '';
  background-image: url(resourses/checked.png);
  width: 19px;
  height: 18px;
}

.del-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  background-image: url(resourses/del_uncheck.png);
  background-color: #3a3939;
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
